/*
Have at least two CSS rules that update the style or layout of your screens when specific events occur
Support responsive layout
*/

/*
This code is based on: https://www.w3schools.com/css/css3_variables.asp
*/
:root {
    --primary: #1f1f21;
    --secondary: #dbdb63;
    --tertiary: rgb(71, 71, 71);
}

#header {
    background-color: var(--primary);
}

.nav-item .nav-link{
    color: var(--secondary);
}

.nav-item .nav-link.active {
    background-color: var(--secondary);
    color: var(--primary); 
}

body{
    background-color: var(--tertiary);
}


#leaderboard_table {
    width: 80%;
}

#leaderboard_table thead {
    text-align: end;
}

#leaderboard_table tbody th {
    text-align: center;
}

#leaderboard_table tbody td {
    text-align: end;
}