/*
Have at least two CSS rules that update the style or layout of your screens when specific events occur
Support responsive layout
*/

/*
This code is based on: https://www.w3schools.com/css/css3_variables.asp
*/
:root {
    --primary: #1f1f21;
    --secondary: #dbdb63;
    --tertiary: rgb(71, 71, 71);
}

#header {
    background-color: var(--primary);
}

.nav-item .nav-link{
    color: var(--secondary);
}

.nav-item .nav-link.active {
    background-color: var(--secondary);
    color: var(--primary); 
}

body{
    background-color: var(--tertiary);
}


#leadboard_title {
    color: var(--secondary);
    background-color: var(--primary);
    width: 20%;
    width: fit-content;
    height: fit-content;
    padding: 1px 10px;
    border-radius: 10px;
}

#leaderboard_sort_by {
    padding: 10px;
    background-color: var(--primary);
    border-radius: 10px;;
}

#leaderboard_table {
    width: 80%;
    background-clip: padding-box; 
    box-shadow: 0 0 15px #232222;
    border-radius: 25px;
}

table {
    border-radius: 25px;
}

#leaderboard_table thead {
    text-align: end;
}

#leaderboard_table tbody th {
    text-align: center;
}

#leaderboard_table tbody td {
    text-align: end;
}